/.vscode
/aula05.js
/aula06.js
/aula07.js
/aula08.js
/aula09.js
/aula11.js
/aula12.js
/aula13.js
/aula14.js
/aula16.js
/aula17.js
/Exercicios.zip
/Exercicios1
/Exercicios2
/ExerciciosCondicional.js
/ExerciciosRepetição.js
/tempCodeRunnerFile.js
/Teste.js