* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body{
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Container{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10 px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

form h2 {
    padding-top: 50px;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label{
    display: inline-block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
    width: 100%;
    padding:0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba (0, 123, 255, 0.5);
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: not-allowed;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    transform: scale (0.98);
}

button:disabled {
    background-color: #aaa;
}

.terms {
    display: flex;
    align-items: center;
}

@media (max-width: 600px){
    .Container{
        padding: 15px;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea,
    select {
        font-size: 14px;
    }
}